
body {
    margin: 0%;
    background-color: rgb(255, 255, 28);
}

header{

    background-color: rgb(255, 255, 105);
    padding-bottom: 10%;
}

h1{
    color: rgb(255, 255, 204);
    display: inline-block;
    padding-left: 30%;
    padding-top: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid rgb(255, 255, 204); 
}


nav{
    float: right;
    padding-right: 1%;
    margin:0%;    
    
    word-spacing: 1em ;
}
li{
    display: inline;
    padding-top: 0%;
    
}
