
body {
    margin: 0%;

}


header{

    background-image: url(./images/galerie6-pasta-divina.jpg);
    padding-bottom: 10%;
    background-position: 50%;
}

h1{
    color: rgb(244, 242, 204);
    display: inline-block;
    padding-left: 30%;
    padding-top: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid rgb(244, 242, 204); 
}


nav{
    float: right;
    padding-right: 1%;
    margin:0%;    
    color: white;
    word-spacing: 1em ;
}
li{
    display: inline;
    padding-top: 0%;
    
}

main{
    background-color: rgba(179, 165, 147, 0.897) ;

}
main h2{
    text-align: center;
}

h3{
    font-style: italic;
}

main p{
    font-family: sans-serif;
}


